name: Android Tests (BrowserStack)

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  appium-tests:
    runs-on: ubuntu-latest

    env:
      BS_USERNAME: ${{ secrets.BS_USERNAME }}
      BS_ACCESS_KEY: ${{ secrets.BS_ACCESS_KEY }}
      BS_APP_ID: ${{ secrets.BS_APP_ID }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Appium tests on BrowserStack
        run: |
          pytest --env=browserstack --alluredir=allure-results

      - name: Upload allure result artifacts
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
